pipeline/Pl_ImportSedgwickEmployerDataMaster.json
{
	"name": "Pl_ImportSedgwickEmployerDataMaster",
	"properties": {
		"description": "This is \"Import Sedgwick Employer Data\" master pipeline.",
		"activities": [
			{
				"name": "Pl_Lk_LookupMetadata",
				"description": "Lookup metadata from the metadata.DataFactoryLoad table",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "master.uspDataFactoryLoadSelectPipelineByName",
						"storedProcedureParameters": {
							"Pipeline": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.ChildPipeLineName",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "Ds_PolarisEtlASD_Employer",
						"type": "DatasetReference",
						"parameters": {
							"Structure": [
								{
									"name": "EmployerName",
									"type": "String"
								},
								{
									"name": "EmployerFEIN",
									"type": "String"
								},
								{
									"name": "EmployerUniqueId",
									"type": "String"
								},
								{
									"name": "EmployerAddressLine1",
									"type": "String"
								},
								{
									"name": "EmployerAddressLine2",
									"type": "String"
								},
								{
									"name": "EmployerCity",
									"type": "String"
								},
								{
									"name": "EmployerState",
									"type": "String"
								},
								{
									"name": "EmployerZip",
									"type": "String"
								},
								{
									"name": "EmployerCountry",
									"type": "String"
								}
							]
						}
					}
				}
			},
			{
				"name": "Pl_Epl_ExecuteChildSedgwickPipeline",
				"description": "Execute ImportSedgwickEmployerDataAsJSON Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Pl_Lk_LookupMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Pl_ImportSedgwickEmployerDataAsJSON",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"SourceFileName": {
							"value": "@pipeline().parameters.SourceFileName",
							"type": "Expression"
						},
						"SourceFolderName": {
							"value": "@pipeline().parameters.SourceFolderName",
							"type": "Expression"
						},
						"SourceDataStructure": {
							"value": "@json(activity('Pl_Lk_LookupMetadata').output.firstRow.SourceStructure)",
							"type": "Expression"
						},
						"SinkDataStructure": {
							"value": "@json(activity('Pl_Lk_LookupMetadata').output.firstRow.TargetStructure)",
							"type": "Expression"
						},
						"DataMappingStructure": {
							"value": "@json(activity('Pl_Lk_LookupMetadata').output.firstRow.ColumnMapping)",
							"type": "Expression"
						},
						"SinkProcedureName": {
							"value": "@activity('Pl_Lk_LookupMetadata').output.firstRow.SourceStoredProcedure",
							"type": "Expression"
						},
						"SinkUserDefinedTableType": {
							"value": "@activity('Pl_Lk_LookupMetadata').output.firstRow.SourceStoredProcedureTableType",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Pl_Lk_FailedEmail",
				"description": "Email Notification if lookup activity failed",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Pl_Lk_LookupMetadata",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "https://prod-50.eastus.logic.azure.com:443/workflows/7b85035f083f4102b6464d7b8a7e05eb/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ndGIIfUl7BcYqIfm944D8KkrEn-HhdEpCYlZYY6HGCI",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"ErrorMessage": "@{activity('Pl_Lk_LookupMetadata').ExceptionMessage}",
						"EmailTo": "@pipeline().parameters.EmailTo"
					}
				}
			},
			{
				"name": "Pl_Sp_ReportFailure_1",
				"description": "Report pipeline failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Pl_Lk_FailedEmail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "sp_executesql",
					"storedProcedureParameters": {
						"stmt": {
							"value": "--T-SQL Code\nDeclare @err_msg NVARCHAR(255);\nSET @err_msg=N'Error occurred, email was sent';\nRAISERROR(@err_msg,15,1);\n",
							"type": "string"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_Sql_PolarisEtl",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Pl_Epl_FailedEmail",
				"description": "Email Notification if execute pipeline activity failed",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Pl_Epl_ExecuteChildSedgwickPipeline",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "https://prod-50.eastus.logic.azure.com:443/workflows/7b85035f083f4102b6464d7b8a7e05eb/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ndGIIfUl7BcYqIfm944D8KkrEn-HhdEpCYlZYY6HGCI",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"ErrorMessage": "@{activity('Pl_Epl_ExecuteChildSedgwickPipeline').ExceptionMessage}",
						"EmailTo": "@pipeline().parameters.EmailTo"
					}
				}
			},
			{
				"name": "Stored Procedure1",
				"description": "Report pipeline failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Pl_Epl_FailedEmail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "sp_executesql",
					"storedProcedureParameters": {
						"stmt": {
							"value": "--T-SQL Code\nDeclare @err_msg NVARCHAR(255);\nSET @err_msg=N'Error occurred, email was sent';\nRAISERROR(@err_msg,15,1);\n",
							"type": "string"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_Sql_PolarisEtl",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"SourceFileName": {
				"type": "String",
				"defaultValue": "SedgwickClaimListExample.json"
			},
			"SourceFolderName": {
				"type": "String",
				"defaultValue": "employer/inputJSON"
			},
			"ChildPipeLineName": {
				"type": "String",
				"defaultValue": "Pl_ImportSedgwickEmployerDataAsJSON"
			},
			"EmailTo": {
				"type": "String",
				"defaultValue": "Yuriy_Leventman@onecallcm.com"
			}
		}
	}
}