polarisadfpoc/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "polarisadfpoc"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"EmployerDataSource_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'EmployerDataSource'"
		},
		"PolarisEtlASD_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'PolarisEtlASD'"
		},
		"SqlServer1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer1'"
		},
		"DestinationDataset_6xb_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "Provider.csv"
		},
		"DestinationDataset_6xb_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "profisee"
		},
		"SedgwickEmployerDataSourceAsJSON_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().SourceFileName"
		},
		"SedgwickEmployerDataSourceAsJSON_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().SourceFolderName"
		},
		"ET-SedgwickEmployerDataImport_properties_ImportSedgwickEmployerDataAsJSON_parameters_SourceFileName": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"ET-SedgwickEmployerDataImport_properties_ImportSedgwickEmployerDataAsJSON_parameters_SourceFolderName": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"ET-SedgwickEmployerDataImport_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/0fbf2902-88ee-416e-a94a-40846db5f2f8/resourceGroups/DWPOC/providers/Microsoft.Storage/storageAccounts/polarisstoragepoc"
		},
		"ET-SedgwickEmployerDataImportForXmlFile_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/0fbf2902-88ee-416e-a94a-40846db5f2f8/resourceGroups/DWPOC/providers/Microsoft.Storage/storageAccounts/polarisstoragepoc"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_6xb')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_6xb",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "profisee/Provider.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": "select \r\n\tcode as ProviderID,\r\n\tFuseID as FuseID,\t\r\n\tname  as ProviderName,\r\n\tLocationAddressLine1,\r\n\tLocationAddressLine2,\r\n\tLocationAddressLine3,\r\n\tLocationAddressCity,\r\n\tLocationAddressCounty,\r\n\tLocationAddressState_Name as LocationAddressState,\r\n\tLocationAddressPostalCode,\r\n\tLocationAddressCountry_Code as LocationAddressCountry,\r\n\tPhone,\r\n\tPhoneExtension,\r\n\tCellPhone,\r\n\tEmail,\r\n\tFaxNumber,\r\n\tIsGroupHealth_Code as IsGroupHealth,\r\n\tIsWorkersComp_Code as IsWorkersComp,\r\n\tIsManagedMedicaidAprvdFL_Code as IsManagedMedicaidAprvdFL,\r\n\tTransportationProviderType_Code as TransportationProviderType,\r\n\tIsTransportationActive_Code as IsTransportationActive_Code ,\r\n\tTransportationInactiveDate,\r\n\tWorkersCompDoesSedan_Code as WorkersCompDoesSedan,\r\n\tWorkersCompDoesWheelChair_Code as WorkersCompDoesWheelChair,\r\n\tWorkersCompDoesStretcher_Code as WorkersCompDoesStretcher,\r\n\tWorkersCompDoesAirAmbulance_Code as WorkersCompDoesAirAmbulance,\r\n\tWorkersCompDoesAdvancedLifeSupport_Code as WorkersCompDoesAdvancedLifeSupport,\r\n\tWorkersCompDoesAdvancedLifeSupportLvl2_Code as WorkersCompDoesAdvancedLifeSupportLvl2,\r\n\tWorkersCompDoesBasicLifeSupport_Code as WorkersCompDoesBasicLifeSupport,\r\n\tWorkersCompDoesMiniBus_Code as WorkersCompDoesMiniBus,\r\n\tWorkersCompDoesOther_Code as WorkersCompDoesOther,\r\n\tWorkersCompFlatRate,\r\n\tWorkersCompNoShowFlatRate,\r\n\tWorkersCompSedanRatePerMile,\r\n\tWorkersCompSedanLoadCharge,\r\n\tWorkersCompSedanWaitRatePerHour,\r\n\tWorkersCompSedanMinChargePerTrip,\r\n\tWorkersCompSedanMinMiles,\r\n\tWorkersCompSedanNoShowRate,\r\n\tWorkersCompWheelChairRatePerMile,\r\n\tWorkersCompWheelChairWaitRatePerHour,\r\n\tWorkersCompWheelChairLoadCharge,\r\n\tWorkersCompWheelChairMinChargePerTrip,\r\n\tWorkersCompWheelChairMinMiles,\r\n\tWorkersCompWheelChairNoShowRate,\r\n\tWorkersCompStretcherRatePerMile,\r\n\tWorkersCompStretcherWaitRatePerHour,\r\n\tWorkersCompStretcherLoadCharge,\r\n\tWorkersCompStretcherMinChargePerTrip,\r\n\tWorkersCompStretcherMinMiles,\r\n\tWorkersCompStretcherNoShowRate,\r\n\tWorkersCompAdvancedLifeSupportRatePerMile,\r\n\tWorkersCompAdvancedLifeSupportMinMiles,\r\n\tWorkersCompAdvancedLifeSupportNoShowRate,\r\n\tWorkersCompAdvancedLifeSupportWaitRatePerHour,\r\n\tWorkersCompAdvancedLifeSupportLoadCharge,\r\n\tWorkersCompAdvancedLifeSupportMinTripCharge,\r\n\tWorkersCompAdvancedLifeSupportLvl2RatePerMile,\r\n\tWorkersCompAdvancedLifeSupportLvl2MinMiles,\r\n\tWorkersCompAdvancedLifeSupportLvl2NoShowRate,\r\n\tWorkersCompAdvancedLifeSupportLvl2WaitRatePerHour,\r\n\tWorkersCompAdvancedLifeSupportLvl2LoadCharge,\r\n\tWorkersCompAdvancedLifeSupportLvl2MinTripCharge,\r\n\tWorkersCompBasicLifeSupportRatePerMile,\r\n\tWorkersCompBasicLifeSupportMinMiles,\r\n\tWorkersCompBasicLifeSupportNoShowRate,\r\n\tWorkersCompBasicLifeSupportWaitRatePerHour,\r\n\tWorkersCompBasicLifeSupportLoadCharge,\r\n\tWorkersCompBasicLifeSupportMinTripCharge,\r\n\tWorkersCompMiniBusRatePerMile,\r\n\tWorkersCompMiniBusMinMiles,\r\n\tWorkersCompMiniBusNoShowRate,\r\n\tWorkersCompMiniBusWaitRatePerHour,\r\n\tWorkersCompMiniBusMiniTripCharge,\r\n\tGroupHealthDoesSedan_Code as GroupHealthDoesSedan,\r\n\tGroupHealthDoesWheelChair_Code as GroupHealthDoesWheelChair,\r\n\tGroupHealthDoesStretcher_Code as GroupHealthDoesStretcher,\r\n\tGroupHealthDoesAirAmbulanceFixedWing_Code as GroupHealthDoesAirAmbulanceFixedWing,\r\n\tGroupHealthDoesAirAmbulanceRotaryWing_Code as GroupHealthDoesAirAmbulanceRotaryWing,\r\n\tGroupHealthDoesAdvancedLifeSupport_Code as GroupHealthDoesAdvancedLifeSupport,\r\n\tGroupHealthDoesAdvancedLifeSupportLvl2_Code as GroupHealthDoesAdvancedLifeSupportLvl2,\r\n\tGroupHealthDoesBasicLifeSupport_Code as GroupHealthDoesBasicLifeSupport,\r\n\tGroupHealthDoesMiniBus_Code as GroupHealthDoesMiniBus,\r\n\tGroupHealthDoesOther_Code as GroupHealthDoesOther,\r\n\tGroupHealthAttendantRate,\r\n\tGroupHealthFlatRate,\r\n\tGroupHealthNoShowFlatRate,\r\n\tGroupHealthSedanRatePerMile,\r\n\tGroupHealthSedanLoadCharge,\r\n\tGroupHealthSedanWaitRatePerHour,\r\n\tGroupHealthSedanMinChargePerTrip,\r\n\tGroupHealthSedanNoShowRate,\r\n\tGroupHealthWheelChairRatePerMile,\r\n\tGroupHealthWheelChairLoadCharge,\r\n\tGroupHealthWheelChairMinChargePerTrip,\r\n\tGroupHealthWheelChairNoShowRate,\r\n\tGroupHealthStretcherRatePerMile,\r\n\tGroupHealthStretcherLoadCharge,\r\n\tGroupHealthStretcherMinChargePerTrip,\r\n\tGroupHealthStretcherNoShowRate,\r\n\tGroupHealthAdvancedLifeSupportRatePerMile,\r\n\tGroupHealthAdvancedLifeSupportLoadCharge,\r\n\tGroupHealthAdvancedLifeSupportMinTripCharge,\r\n\tGroupHealthAdvancedLifeSupportNoShowRate,\r\n\tGroupHealthAdvancedLifeSupportLvl2RatePerMile,\r\n\tGroupHealthAdvancedLifeSupportLvl2LoadCharge,\r\n\tGrpHealthAdvancedLifeSupportLvl2MinTripCharge,\r\n\tGroupHealthAdvancedLifeSupportLvl2NoShowRate,\r\n\tGroupHealthBasicLifeSupportRatePerMile,\r\n\tGroupHealthBasicLifeSupportLoadCharge,\r\n\tGroupHealthBasicLifeSupportMinTripCharge,\r\n\tGroupHealthBasicLifeSupportNoShowRate,\r\n\tGroupHealthMiniBusRatePerMile,\r\n\tGroupHealthMiniBusMinTripCharge,\r\n\tGroupHealthMiniBusSupportNoShowRate,\r\n\tHasCarSeat_Code as HasCarSeat_Code,\r\n\tCanAccomodateManualWheelChair_Code as CanAccomodateManualWheelChair,\r\n\tCanAccomodateElectricWheelChair_Code as CanAccomodateElectricWheelChair,\r\n\tCanAccomodateServiceAnimal_Code as CanAccomodateServiceAnimal,\r\n\tHasSpanishLanguageDrivers_Code as HasSpanishLanguageDrivers,\r\n\tHasCreoleLanguageDrivers_Code as HasCreoleLanguageDrivers,\r\n\tHasMandarinLanguageDrivers_Code as HasMandarinLanguageDrivers,\r\n\tHasCantoneseLanuageDrivers_code as HasCantoneseLanuageDrivers,\r\n\tHasRussianLanguageDrivers_Code as HasRussianLanguageDrivers,\r\n\tHasPortugueseLanguageDrivers_Code as HasPortugueseLanguageDrivers,\r\n\tHasOtherLanguageDrivers_Code as HasOtherLanguageDrivers,\r\n\tMaximumVehicleCapacity,\r\n\tFleetSize,\r\n\tAttendantAvailable_Code as AttendantAvailable,\r\n\tSoftwareProvider,\r\n\tSoftwareProviderID,\r\n\tSoftwareStartDate\r\nfrom \r\n\tmdm.OCCM_Provider_VwTransportationProvider\r\nwhere \r\n\tcode like 'PRVT%' and\r\n\tFuseID is not null and\r\n\tname is not null and\r\n                  IsTransportationActive_Code ='Yes'"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_6xb",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_6xb",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_6xb')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_6xb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ImportSedgwickEmployerDataAsJSON')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Import Sedgwick Employer Data from XML data source file; convert it to JSON file in the Azure BLOB storage then import it to the PolarisEtl ASD.",
				"activities": [
					{
						"name": "CopyJSONToASD",
						"description": "Copy JSON To ASD",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"sqlWriterStoredProcedureName": {
									"value": "@pipeline().parameters.SinkProcedureName",
									"type": "Expression"
								},
								"sqlWriterTableType": {
									"value": "@pipeline().parameters.SinkUserDefinedTableType",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"SourceFileName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SourceFileName",
											"type": "Expression"
										}
									}
								}
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"value": "@pipeline().parameters.DataMappingStructure",
								"type": "Expression"
							}
						},
						"inputs": [
							{
								"referenceName": "SedgwickEmployerDataSourceAsJSON",
								"type": "DatasetReference",
								"parameters": {
									"SourceFileName": {
										"value": "@pipeline().parameters.SourceFileName",
										"type": "Expression"
									},
									"SourceFolderName": {
										"value": "@pipeline().parameters.SourceFolderName",
										"type": "Expression"
									},
									"Structure": {
										"value": "@pipeline().parameters.SourceDataStructure",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PolarisEtlASD_Employer",
								"type": "DatasetReference",
								"parameters": {
									"Structure": {
										"value": "@pipeline().parameters.SinkDataStructure",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"SourceFileName": {
						"type": "String",
						"defaultValue": "SedgwickClaimListExample.json"
					},
					"SourceFolderName": {
						"type": "String",
						"defaultValue": "employer/inputJSON"
					},
					"SourceDataStructure": {
						"type": "Object",
						"defaultValue": [
							{
								"name": "name",
								"type": "String",
								"description": "Employer Name"
							},
							{
								"name": "FEIN",
								"type": "String",
								"description": "Employer FEIN"
							},
							{
								"name": "uniqueId",
								"type": "String",
								"description": "Employer Unique ID"
							},
							{
								"name": "line1",
								"type": "String",
								"description": "Address line 1"
							},
							{
								"name": "line2",
								"type": "String",
								"description": "Address line 2"
							},
							{
								"name": "city",
								"type": "String",
								"description": "City"
							},
							{
								"name": "state",
								"type": "String",
								"description": "State"
							},
							{
								"name": "zip",
								"type": "String",
								"description": "Zip"
							},
							{
								"name": "country",
								"type": "String",
								"description": "Country"
							}
						]
					},
					"SinkDataStructure": {
						"type": "Object",
						"defaultValue": [
							{
								"name": "EmployerName",
								"type": "String",
								"description": "Employer Name"
							},
							{
								"name": "EmployerFEIN",
								"type": "String",
								"description": "Employer FEIN"
							},
							{
								"name": "EmployerUniqueId",
								"type": "String",
								"description": "Employer Unique ID"
							},
							{
								"name": "EmployerAddressLine1",
								"type": "String",
								"description": "Address line 1"
							},
							{
								"name": "EmployerAddressLine2",
								"type": "String",
								"description": "Address line 2"
							},
							{
								"name": "EmployerCity",
								"type": "String",
								"description": "City"
							},
							{
								"name": "EmployerState",
								"type": "String",
								"description": "State"
							},
							{
								"name": "EmployerZip",
								"type": "String",
								"description": "Zip"
							},
							{
								"name": "EmployerCountry",
								"type": "String",
								"description": "Country"
							}
						]
					},
					"DataMappingStructure": {
						"type": "Object",
						"defaultValue": {
							"type": "TabularTranslator",
							"columnMappings": {
								"name": "EmployerName",
								"FEIN": "EmployerFEIN",
								"uniqueId": "EmployerUniqueId",
								"line1": "EmployerAddressLine1",
								"line2": "EmployerAddressLine2",
								"city": "EmployerCity",
								"state": "EmployerState",
								"zip": "EmployerZip",
								"country": "EmployerCountry"
							}
						}
					},
					"SinkProcedureName": {
						"type": "String",
						"defaultValue": "master.uspImportSedgwickEmployerData"
					},
					"SinkUserDefinedTableType": {
						"type": "String",
						"defaultValue": "master.udttSedgwickEmployerData"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SedgwickEmployerDataSourceAsJSON')]",
				"[concat(variables('factoryId'), '/datasets/PolarisEtlASD_Employer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ImportSedgwickEmployerDataMaster')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is \"Import Sedgwick Employer Data\" master pipeline.",
				"activities": [
					{
						"name": "LookupMetadata",
						"description": "Lookup metadata from the metadata.DataFactoryLoad table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": "select\n\td.DataFactoryLoadId,\n\td.Pipeline,\n\td.TargetDatabase,\n\td.TargetSink,\n\td.SortOrder,\n\td.SourceStructure,\n\td.TargetStructure,\n\td.ColumnMapping,\n\td.SourceStoredProcedure,\n\td.SourceStoredProcedureTableType\nfrom\n\tmetadata.DataFactoryLoad d\nwhere\n\t1 = 1\n\tand d.Pipeline = 'ImportSedgwickEmployerDataAsJSON'\norder by\n\td.DataFactoryLoadId desc"
							},
							"dataset": {
								"referenceName": "PolarisEtlASD_Employer",
								"type": "DatasetReference",
								"parameters": {
									"Structure": [
										{
											"name": "EmployerName",
											"type": "String"
										},
										{
											"name": "EmployerFEIN",
											"type": "String"
										},
										{
											"name": "EmployerUniqueId",
											"type": "String"
										},
										{
											"name": "EmployerAddressLine1",
											"type": "String"
										},
										{
											"name": "EmployerAddressLine2",
											"type": "String"
										},
										{
											"name": "EmployerCity",
											"type": "String"
										},
										{
											"name": "EmployerState",
											"type": "String"
										},
										{
											"name": "EmployerZip",
											"type": "String"
										},
										{
											"name": "EmployerCountry",
											"type": "String"
										}
									]
								}
							}
						}
					},
					{
						"name": "ExecuteChildSedgwickPipeline",
						"description": "Execute ImportSedgwickEmployerDataAsJSON Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LookupMetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ImportSedgwickEmployerDataAsJSON",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SourceFileName": {
									"value": "@pipeline().parameters.SourceFileName",
									"type": "Expression"
								},
								"SourceFolderName": {
									"value": "@pipeline().parameters.SourceFolderName",
									"type": "Expression"
								},
								"SourceDataStructure": {
									"value": "@activity('LookupMetadata').output.firstRow.SourceStructure",
									"type": "Expression"
								},
								"SinkDataStructure": {
									"value": "@activity('LookupMetadata').output.firstRow.TargetStructure",
									"type": "Expression"
								},
								"DataMappingStructure": {
									"value": "@activity('LookupMetadata').output.firstRow.ColumnMapping",
									"type": "Expression"
								},
								"SinkProcedureName": {
									"value": "@activity('LookupMetadata').output.firstRow.SourceStoredProcedure",
									"type": "Expression"
								},
								"SinkUserDefinedTableType": {
									"value": "@activity('LookupMetadata').output.firstRow.SourceStoredProcedureTableType",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"SourceFileName": {
						"type": "String",
						"defaultValue": "SedgwickClaimListExample.json"
					},
					"SourceFolderName": {
						"type": "String",
						"defaultValue": "employer/inputJSON"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PolarisEtlASD_Employer')]",
				"[concat(variables('factoryId'), '/pipelines/ImportSedgwickEmployerDataAsJSON')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_6xb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": "|",
						"rowDelimiter": "",
						"nullValue": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('DestinationDataset_6xb_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('DestinationDataset_6xb_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PolarisEtlASD_Employer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "PolarisEtl ASD Employer data table",
				"linkedServiceName": {
					"referenceName": "PolarisEtlASD",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Structure": {
						"type": "Object",
						"defaultValue": [
							{
								"name": "EmployerName",
								"type": "String"
							},
							{
								"name": "EmployerFEIN",
								"type": "String"
							},
							{
								"name": "EmployerUniqueId",
								"type": "String"
							},
							{
								"name": "EmployerAddressLine1",
								"type": "String"
							},
							{
								"name": "EmployerAddressLine2",
								"type": "String"
							},
							{
								"name": "EmployerCity",
								"type": "String"
							},
							{
								"name": "EmployerState",
								"type": "String"
							},
							{
								"name": "EmployerZip",
								"type": "String"
							},
							{
								"name": "EmployerCountry",
								"type": "String"
							}
						]
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": {
					"value": "@dataset().Structure",
					"type": "Expression"
				},
				"typeProperties": {
					"tableName": "ImportDataTable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PolarisEtlASD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SedgwickEmployerDataSourceAsJSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Sedgwick employer data source as JSON file in the employer BLOB container in the inputJSON folder.",
				"linkedServiceName": {
					"referenceName": "EmployerDataSource",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SourceFileName": {
						"type": "String",
						"defaultValue": "SedgwickClaimListExample.json"
					},
					"SourceFolderName": {
						"type": "String",
						"defaultValue": "employer/inputJSON"
					},
					"Structure": {
						"type": "Object",
						"defaultValue": [
							{
								"name": "name",
								"type": "String",
								"description": "Employer Name"
							},
							{
								"name": "FEIN",
								"type": "String",
								"description": "Employer FEIN"
							},
							{
								"name": "uniqueId",
								"type": "String",
								"description": "Employer Unique ID"
							},
							{
								"name": "line1",
								"type": "String",
								"description": "Address line 1"
							},
							{
								"name": "line2",
								"type": "String",
								"description": "Address line 2"
							},
							{
								"name": "city",
								"type": "String",
								"description": "City"
							},
							{
								"name": "state",
								"type": "String",
								"description": "State"
							},
							{
								"name": "zip",
								"type": "String",
								"description": "Zip"
							},
							{
								"name": "country",
								"type": "String",
								"description": "Country"
							}
						]
					}
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": {
					"value": "@dataset().Structure",
					"type": "Expression"
				},
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects",
						"jsonNodeReference": "$.['ns0:ClaimList']['Claim']",
						"jsonPathDefinition": {
							"name": "[concat('[', '''ClaimExpanded''][''Content''][''claimExpanded''][''employer''][''name'']')]",
							"FEIN": "[concat('[', '''ClaimExpanded''][''Content''][''claimExpanded''][''employer''][''FEIN'']')]",
							"line1": "[concat('[', '''ClaimExpanded''][''Content''][''claimExpanded''][''employer''][''address''][''line1'']')]",
							"line2": "[concat('[', '''ClaimExpanded''][''Content''][''claimExpanded''][''employer''][''address''][''line2'']')]",
							"city": "[concat('[', '''ClaimExpanded''][''Content''][''claimExpanded''][''employer''][''address''][''city'']')]",
							"state": "[concat('[', '''ClaimExpanded''][''Content''][''claimExpanded''][''employer''][''address''][''state'']')]",
							"zip": "[concat('[', '''ClaimExpanded''][''Content''][''claimExpanded''][''employer''][''address''][''zip'']')]",
							"country": "[concat('[', '''ClaimExpanded''][''Content''][''claimExpanded''][''employer''][''address''][''country'']')]",
							"uniqueId": "[concat('[', '''ClaimExpanded''][''Content''][''claimExpanded''][''employer''][''uniqueId'']')]"
						}
					},
					"fileName": {
						"value": "[parameters('SedgwickEmployerDataSourceAsJSON_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('SedgwickEmployerDataSourceAsJSON_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/EmployerDataSource')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_6xb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EmployerDataSource')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Employer Data Source from files submitted by payers.",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('EmployerDataSource_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PolarisEtlASD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "PolarisEtl ASD",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('PolarisEtlASD_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "occmonpremintegrationruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/occmonpremintegrationruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ET-SedgwickEmployerDataImport')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Event trigger to import Sedgwick employer data located within claim file dropped on the BLOB storage.",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ImportSedgwickEmployerDataAsJSON",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourceFileName": "[parameters('ET-SedgwickEmployerDataImport_properties_ImportSedgwickEmployerDataAsJSON_parameters_SourceFileName')]",
							"SourceFolderName": "[parameters('ET-SedgwickEmployerDataImport_properties_ImportSedgwickEmployerDataAsJSON_parameters_SourceFolderName')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/employer/blobs/inputJSON/",
					"blobPathEndsWith": ".json",
					"scope": "[parameters('ET-SedgwickEmployerDataImport_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ImportSedgwickEmployerDataAsJSON')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ET-SedgwickEmployerDataImportForXmlFile')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Event trigger to import Sedgwick employer data located within XML claim file dropped on the BLOB storage.",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/employer/blobs/inputXML/",
					"blobPathEndsWith": "SedgwickClaim*.xml",
					"scope": "[parameters('ET-SedgwickEmployerDataImportForXmlFile_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/occmonpremintegrationruntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "/subscriptions/0fbf2902-88ee-416e-a94a-40846db5f2f8/resourcegroups/DWPOC/providers/Microsoft.DataFactory/factories/aghpoc/integrationruntimes/occmonpremintegrationruntime",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		}
	]
}